<html>
	<head>
		<title> This Week </title>
	</head>
	<body>
	<center>
	<h1>Delete Task</h1>
	<form method ="POST"> {% csrf_token %}
		Are you sure you would like to delete the {{task}}? <br> <br>
		<a href="{% url 'this_week' %}"><input button type="submit" value="Yes"></a> </input> </form>
		<a href="{% url 'this_week' %}"><button> No </button></a> <br> <br>
		<br>

			<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

			<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

			<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

			<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

			<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center>
			</center>
	</body>
<html>