<html>
	<head>
		<title> Your Bujo </title>
	</head>

	<body>
		<center><h1 id="greeting"> Hello, {{name}}! Today is going to be a great day! <br></h1> 

		<h2>Your Bullet Journal</h2>

		<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

		<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

		<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

		<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

		<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center>
	</body>
</html>