<html>
	<head>
		<title> Key </title>

		<style>
			table, th, td 
			{
  				border: 2px solid black;
  				padding: 5px;
			}
			table.center 
			{
  				margin-left: auto;
  				margin-right: auto;
			}
		</style>
	</head>

	<body>
	<center>
	<h1> Key </h1>
		{% for key in KeyList %}
			<li> {{key}}</li>
		{% endfor %}
		<br>
			<a href="http://127.0.0.1:8000/key/add_key/"><button> Add Key </button> <br> <br> </a>

			<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

			<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

			<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

			<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

			<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center>
			</center>
	</body>
</html>