<html>
	<head>
		<title> Profile </title>
	</head>
	<body>
		<center> <h1> Profile </h1>

		<b> Nickname: </b> {{nickname}} <a href=http://127.0.0.1:8000/profile/edit_nickname/><button> Edit </button> </a> <br>
		<b> Bio: </b> {{bio}} <a href=http://127.0.0.1:8000/profile/edit_bio/><button> Edit </button> </a> <br><br>
		<img src="https://spng.subpng.com/20180402/qye/kisspng-computer-icons-user-login-gender-5ac29ccd8f04c2.0984432615227035655858.jpg"></img><br><br>

		<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

		<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

		<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

		<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

		<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center> 
	</body>
</html>