<html>
	<head>
		<title> This Week </title>
	</head>
	<body>
	<center>

	<h1> This Week </h1> <br>

	<h2> 03.01.MON-03.07.SUN </h2> <br>
		● workout <br>
		● buy coffee and milk <br>
		● laundry <br>
		○ 3, 2PM meeting <br>
		- 30g of coffee too strong <br>
		● review ethics <br>

	<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

	<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

	<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

	<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

	<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center>

	</body>
<html>