<html>
	<head>
		<title> This Week </title>
	</head>
	<body>
	<center>
	<h1>This Week</h1>
	<h3>03.01.MON - 03.07.SUN</h3>
		{% for week in WeekList %}
			<li> {{week}} </li> 
			<br><a href="http://127.0.0.1:8000/this_week/edit_week"><button>Edit</button></a>
			<a href="{% url 'this_week_delete_pk' pk=week.pk %}"><button>Delete</button></a>
			<a href="http://127.0.0.1:8000/this_week/mark_week"><button>Mark as Done </button></a> <br> <br>
		{% endfor %}
		<br>
	</form>

			<a href="http://127.0.0.1:8000/this_week/add_week/"><button> Add Item </button> <br> <br> </a>

			<a href="http://127.0.0.1:8000/home/"><button> Home </button></a>

			<a href="http://127.0.0.1:8000/profile/"><button> Profile </button></a>

			<a href="http://127.0.0.1:8000/key/"><button> Key </button></a>

			<a href="http://127.0.0.1:8000/this_week/"><button> This Week </button></a>

			<a href="http://127.0.0.1:8000/today/"><button> Today </button></a></center>
			</center>
	</body>
<html>